<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{attractions}">Attractions</title>
    <!-- Bootstrap CSS -->
    <!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" type="images/x-icon" href="/images/attractions.icon.png" >
</head>

<body class="body">


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/" th:text="#{home}">Home</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item me-3 d-flex align-items-center text-white">
                    <i class="bi bi-telephone-fill me-2"></i>
                    <span th:text="${ownerPhone}">088242422</span>
                </li>
                <li class="nav-item d-flex align-items-center text-white">
                    <i class="bi bi-envelope-fill me-2"></i>
                    <span th:text="${ownerEmail}">testmail@gmail.com</span>
                </li>

            </ul>
        </div>
    </div>
</nav>



<section class="main-content container-fluid">

    <!--        Header image-->
    <section class="content-top container-fluid">

        <div class="header container-sm mt-3">
            <div class="row">
                <div class="col">
                    <a href="/" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" th:text="#{about}">About</a>
                </div>
                <div class="col">
                    <a href="/attractions" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" th:text="#{attractions}">Attractions</a>
                </div>
                <div class="col">
                    <a href="/services" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" th:text="#{services}">Services</a>
                </div>

                <div class="col">
                    <a href="/location" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" th:text="#{location}">Location</a>
                </div>

                <div class="col">
                    <a href="/pricing" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" th:text="#{pricing.and.availability}">Pricing and Availability</a>
                </div>
                <div class="col">
                    <a href="/photos" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" th:text="#{photos}">Photos</a>
                </div>
            </div>
        </div>
    </section>

    <section class="about container-sm mt-3 mb-3">

        <div class="row">
            <div class="custom-card mb-3">
                <div class="card-body">
                    <h3 class="card-title" >Какво можем да правим в района:</h3>
                    <img src="/images/beach.JPG" class="card-img-top" height="200" alt="...">

                    <h5 class="card-title mt-2" >Плаж Атия</h5>
                    <p class="card-text">Плаж Атия се намира в близост до нос Атия в община Созопол, област Бургас. Плажът е с дължина от около 3 км. Пясъкът е с жълто-черен цвят, плътен и смесен със златисти люспички. Водата е кристално чиста, а морското дъно е гладко, има лек наклон и е песъчливо. През лятото температурата на водата достига до 25-26 градуса. Плажът е незастроен и почти безлюден, което го прави изключително подходящ за плажуване и риболов.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="custom-card">
                <div class="card-body">
                    <h5 class="card-title">Местност Бакърлъка</h5>
                    <p class="card-text">Бакърлъка е защитена местност в България. Намира се в землището на село Равадиново, област Бургас.[1]

                        Защитената местност е с площ 7,21 ha. Обявена е на 15 октомври 2004 г. с цел опазване на естествено местообитание на хагерово лале и съобщества на други защитени и редки растителни видове, забележителен ландшафт и скали. Защитената местност попада в територията на защитената зона от Натура 2000 по директивата за птиците Бакърлъка.[1]

                        В защитената местност се забраняват:

                        строителство, разкриване на кариери и други дейности, които водят до промяна и унищожаване на ландшафта или водния режим на местността;
                        бране на диви цветя, събиране на билки, кастрене, чупене на клони и увреждане на дърветата;
                        извеждане на сечи, освен санитарни и отгледни;
                        провеждане на горскостопански мероприятия през периода 1 февруари - 30 юли;
                        внасяне на нехарактерни за района растителни и животински видове;
                        паша на домашни животни.[1]</p>
                </div>
                <img src="/images/bakurluk.png" class="card-img-bottom" height="200" alt="...">
            </div>
        </div>

    </section>





</section>



<!-- Footer -->
<footer class="footer bg-dark text-white text-center pt-3" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container">
    </div>
</footer>

<!-- Bootstrap JS and dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

</body>

</html>