<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{photos}">Photos</title>
    <!-- Bootstrap CSS -->
    <!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" type="images/x-icon" href="/images/photo.icon.png" >
</head>

<body class="body">


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/" th:text="#{home}">Home</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item me-3 d-flex align-items-center text-white">
                    <i class="bi bi-telephone-fill me-2"></i>
                    <span th:text="${ownerPhone}">088242422</span>
                </li>
                <li class="nav-item d-flex align-items-center text-white">
                    <i class="bi bi-envelope-fill me-2"></i>
                    <span th:text="${ownerEmail}">testmail@gmail.com</span>
                </li>

            </ul>
        </div>
    </div>
</nav>



<section class="main-content container-fluid pb-5">

    <!--        Header image-->
    <section class="content-top container-fluid">

        <div class="header container-sm mt-3">
            <div class="row">
                <div class="col">
                    <a href="/" class="btn btn-outline-dark border-dark border-5" aria-current="page" th:text="#{about}">About</a>
                </div>
                <div class="col">
                    <a href="/attractions" class="btn btn-outline-dark border-dark border-5" aria-current="page" th:text="#{attractions}">Attractions</a>
                </div>
                <div class="col">
                    <a href="/services" class="btn btn-outline-dark border-dark border-5" aria-current="page" th:text="#{services}">Services</a>
                </div>

                <div class="col">
                    <a href="/location" class="btn btn-outline-dark border-dark border-5" aria-current="page" th:text="#{location}">Location</a>
                </div>

                <div class="col">
                    <a href="/pricing" class="btn btn-outline-dark border-dark border-5" aria-current="page" th:text="#{pricing.and.availability}">Pricing and Availability</a>
                </div>
                <div class="col">
                    <a href="/photos" class="btn btn-outline-dark border-dark border-5" aria-current="page" th:text="#{photos}">Photos</a>
                </div>
            </div>
        </div>
    </section>

    <section class="about container-sm mt-3 mb-3">


        <div class="row">
            <div class="custom-card mb-3">
                <div class="card-body">
                    <h3 class="card-title" th:text="#{photos.card1.title}">Снимки:</h3>
                    <p class="card-text" th:text="#{photos.card1.body}">Кога за последно имахте чувството, че сте "точно на мястото си"? Спомняте ли си усещането: умът е спокоен и ведър, дишате дълбоко и бавно, в областта на сърцето се разлива едва доловима топлина, от слънчевия сплит излизат трептящи нишки, които ви свързват с всичко наоколо... Дали ще се случи точно това – не знаем, но ви каним да поседите край басейна, защитени като в гнездо от каменните къщи зад вас. Обърнете взор на юг към надиплените като шарена копринена кърпа хълмове на Предбалкана, метната сякаш да развесели забилите в небето и в историята чела върхове на Стара планина: Ботев, Триглав, Шипка и Бузлуджа.

                        Ако можехте да поседите така цяла година, сутрин ще ви будят славеи, а съществото ви ще се разтапя в аромати: на дрян, на бъз, на цъфнали ябълки, на акация, на липа, на малини, на горски ягоди, на мащерка, на диви круши, на натежали от слънце домати, на топла пръст и чубрица, на узрели дюли, на мушмули и мокра шума, на измити от дъжда скали, на скреж и сняг, и на мамещ дим от дъбови цепеници...</p>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="custom-card">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="/images/ap1.jpg" class="equal-img" alt="..." onclick="openModal(this.src)">
                            </div>
                            <div class="col-4 mt-2">
                                <img src="/images/ap2.jpg" class="equal-img" alt="..." onclick="openModal(this.src)">
                            </div>
                            <div class="col-4 mt-2">
                                <img src="/images/ap3.jpg" class="equal-img" alt="..." onclick="openModal(this.src)">
                            </div>
                            <div class="col-4 mt-2">
                                <img src="/images/ap4.jpeg" class="equal-img" alt="..." onclick="openModal(this.src)">
                            </div>
                            <div class="col-4 mt-2">
                                <img src="/images/ap5.jpeg" class="equal-img" alt="..." onclick="openModal(this.src)">
                            </div>
                            <div class="col-4 mt-2">
                                <img src="/images/ap6.jpg" class="equal-img" alt="..." onclick="openModal(this.src)">
                            </div>
                            <div class="col-4 mt-2">
                                <img src="/images/atiya.jpg" class="equal-img" alt="..." onclick="openModal(this.src)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Image Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-transparent border-0">
                    <div class="modal-body text-center p-0">
                        <img id="modalImage" src="" class="img-fluid rounded" alt="Full Size Image">
                    </div>
                </div>
            </div>
        </div>

        <script>
            function openModal(src) {
              document.getElementById('modalImage').src = src;
              const modal = new bootstrap.Modal(document.getElementById('imageModal'));
              modal.show();
            }
        </script>



    </section>





</section>



<!-- Footer -->
<footer class="footer bg-dark text-white text-center pt-3" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container">
    </div>
</footer>

<!-- Bootstrap JS and dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

</body>

</html>